<div class="top">
    <div class="text-center">
        <div class="titles">
            <h4>コロナ禍で出てしまったそのおなか</h4>
            <%= image_tag "diet_before_man.png", size: 700%>
            <p class="title">つらいですよね！！！！！</p>
        </div>
    
        <div>お腹が出できたら…</div>
    
    </br>
    
        <ul class="list-unstyled">
            <li>体が重い…</li>
            <li>下が見えない…</li>
            <li>服が着れない…etc</li>
            </br>
            <h2>一瞬だけ(Fake)スリムになっちゃいましょう！</h2>
        </ul>
    
        

    </br>

        <p>breath（息）を吐くことで一瞬（嘘の）スリムな体を拝みましょう!</br>
        ※本当に痩せるわけではありません。あくまでFake（嘘）ですのでご了承ください。</p>
        <%= link_to "一瞬(fake)痩せる", action_path ,data: {"turbolinks" => false}, class: "btn btn-info btn-lg"%>
        
    </div>
</div>

