
<!-----タイマーの3分を表示------------------------------------------>
    <div class="text-center">
            <p id="default">10</p>
<!-----スタートボタンを表示----------------------------------------->
            <button id="start">スタート</button>
<!-----ストップボタンを表示----------------------------------------->
            <%#<button id="stop">ストップ</button>%>
    </div>