
.title{
    font-size: 70px;
    color: red;
    font-weight: bolder
}

.top{
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
}
h2{
    color: red;
    font-weight: bolder
}

h4{
    padding-top: 50px;
}

.btn{
    margin-bottom: 30px;
}

.headertitle{
    font-size: 30px;
    font-weight: bold;
}
